<div class="col s6">
	{{#each userinfo}}
	{{#if this.user_status}}
	<div>
		<form action="/todos/{{this.id}}?_method=PUT" method="POST">
			<button type="submit" class="update-user-status button-update-user-status" data-id="{{id}}"
				data-newUserStatus="{{user_status}}">
				{{this.user_name}}
			</button>
		</form>
	</div>
	{{/if}}
	{{/each}}
</div>