<div class="row">
  <div class="col-md-2">
    <img id="left" src="./styles/img/carpe-diem3.jpg" alt="carpe-diem">
  </div>
  <div id="logo" class="col-md-8">
    <h1>
      <span>T</span>
      <span>r</span>
      <span>y</span>
      <span>B</span>
      <span>e</span>
      <span>f</span>
      <span>o</span>
      <span>r</span>
      <span>e</span>
      </br>
      <span>Y</span>
      <span>o</span>
      <span>u</span>
      <span>D</span>
      <span>i</span>
      <span>e</span>
    </h1>

  </div>
  <div class="col-md-2">
    <img id="right" src="./styles/img/dare-to-dream-just-do-it-seize-the-day1.jpg" alt="dare">
  </div>
</div>

<br>
<br>

<div class="card-deck">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>