{{!-- //this partial will import travel api/ --}}

<div class="col s6">
	{{#each todos}}
	{{#if this.travel}}
	<div>
		<form action="/todos/{{this.id}}?_method=GET" method="POST">
			<button type="submit" class="get-travel" data-id="{{id}}"
				data-newTravel="{{travel}}">
				{{this.travel_name}}
			</button>
		</form>
	</div>
	{{/if}}
	{{/each}}
</div>

