body {
  background-color: black;
}

.jumbotron {
  background-color: black; 
padding-top: 10px;
padding-bottom: 0;
}
h1 {
color: cornsilk;
}
.col-md-4 {
  float: left;
  width: 33.33%;
}
h5 {
    background-color: gray;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: flow-root;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.card {
background-color: black;
color: white;

}

button {
    background-color: crimson;
}

#searchContainer{
    background-color: black;

}
@import url(https://fonts.googleapis.com/css?family=Anton);

body
{
    background: #000;
}
.TBYD-container
{
    position: absolute;
    top:10px;
    left: 40px;

}

.TBYD
{
    font-family: 'Anton', sans-serif;
    line-height: 1;
    letter-spacing: -.07em;
    color: #fff;
}

.die
{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 100px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: red;
}

.animate .die
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span
{
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 40px;

    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    filter: alpha(opacity=0);
}

.you
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.before
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.try
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .try
{
    font-size: 60px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .before
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

 .animate .you
{
    font-size: 100px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}